  <!-- Footer -->
  <footer class="page-footer font-small pt-4">
    <!-- link -->
    <div class="footer-link">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 footer-link-col">
            <div class="footer-link-title">USEFUL LINKS</div>
            <ul>
              <li><i class="fa fa-chevron-right"></i><span class="footer-link-text">abc</span></li>
              <li><i class="fa fa-chevron-right"></i><span class="footer-link-text">abc</span></li>
              <li><i class="fa fa-chevron-right"></i><span class="footer-link-text">abc</span></li>
            </ul>
          </div>
          <div class="col-sm-4 footer-link-col">
            <div class="footer-link-title">USEFUL LINKS</div>
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="col-sm-4 footer-link-col">
            <div class="footer-link-title">USEFUL LINKS</div>
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright">
      <div>
        © 2019 PiEnvir Project. (IM5032*) Practical Internet of Things
        <div class="pull-right">108F - 物聯網實務應用</div>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
