{%  extends  "app/base.html"  %}
{%  block  title  %}IoT{%  endblock  %}
{%  block  description  %}允許使用者進行登入{%  endblock  %}

  {%  block  custom_css  %}
  {%  endblock  %}
    {%  block  content  %}
    <div class="row">
      <div id="real-time-id" style="visibility:hidden">{% if 'id' in data %}{{ data.id }}{% endif %}</div>
      <div class="real-time-data">
        <!-- 感應器資料列表 -->
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <h1>即時數據</h1>
          </div>
        </div>
        {% for i in SENSOR_DATA %}
        <div id="{{ i.id }}" class="col-md-4 col-sm-6">
          <div class="card">
            <div class="header">
              <span id="{{ i.id }}-datetime">{% if i.id in data.data and 'datetime' in data%}{{ data['datetime'] }}{% else %}----/--/-- --:--{% endif %}</span>
            </div>
            <div class="icon">
              <i class="fa {{ i.icon }}" aria-hidden="true"></i>
            </div>
            <div class="info">
              <div class="value">
                <span id="{{ i.id }}-value" class="number">{% if i.id in data.data %}{{ data['data'][i.id] }}{% else %}--.-{% endif %}</span>{{ i.unit }}
                <span class="value-change">(<span id="{{ i.id }}-value-change" class="number">--.-</span>)</span>
              </div>
              <div class="hr"></div>
              <div class="title">{{ i.name }}</div>
              <div id="{{ i.id }}-status-icon "class="status-icon"></div>
              <div class="status"><span id="{{ i.id }}-status">N/A</span></div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <h1>104</h1>
    <h1>103</h1>
    <h1>102</h1>
    <div id="tester" style="width:auto;height:auto;"></div>
    {%  endblock  %}

    {%  block  custom_js  %}
    <script src="/static/js/app/index.js" defer></script>
    <script>
      (() => {
        document.addEventListener("DOMContentLoaded", (event) => {

        }, {passive: true});
      })()
    </script>
    {%  endblock  %}
