<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IoT | PiEnvir</title>

  {# favicon #}
  {% include "favicon.html" %}

  {# JavaScript #}
  {% include "css.html" %}

</head>

<body>
  {% include "app/nav.html" %}

  <main role="main" class="container">
    <div id="tester" style="width:auto;height:auto;"></div>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
    <h1>10</h1>
  </main>

  {# JavaScript #}
  {% include "js.html" %}
  <script src="/static/js/app/index.js" defer></script>
</body>

</html>
