{%  extends  "app/base.html"  %}
{%  block  title  %}即時資料{%  endblock  %}
{%  block  description  %}允許使用者進行登入{%  endblock  %}

  {%  block  custom_css  %}
  <style>
    .label {
			display: inline-block;
			text-align: right;
			width: 90px;
		}
		.value {
			display: inline-block;
			text-align: left;
			width: 60px;
		}
		.control {
			width: 200px;
		}
    .nav-pills > li > a {
      border-radius: 0;
    }
    .status > span {
      padding-left: 20px;
    }
    .center-td {
      display: flex;
      align-items: center;
      align-content: center;
    }
  </style>
  {%  endblock  %}

    {%  block  content  %}
    <ul  class="nav nav-pills">
      {% for i in range(sensor_data | length) %}
      {% if i == 0 %}
      <li class="active"><a href="#{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}_tabs" data-toggle="tab" class="tab_btn">{{ sensor_data[i]['name'] }}</a></li>
      {% else %}
      <li><a href="#{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}_tabs" data-toggle="tab" class="tab_btn">{{ sensor_data[i]['name'] }}</a>
      {% endif %}
      {%  endfor  %}
    </ul>
    <div id="real-time-id" style="visibility:hidden">-1</div>
    <div class="tab-content clearfix">
      {% for i in range(sensor_data | length) %}
      {% if i == 0 %}
      <div id="{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}_tabs" class="row tab-pane active">
      {% else %}
      <div id="{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}_tabs" class="row tab-pane">
      {% endif %}
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="curr_status">
                <div id="{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}-status-icon" class="status-icon"></div>
                <div class="status"><span id="{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}-status">N/A</span></div>
              </div>
            </div>
            <div class="status_info">
              <div class="pull-right ease">目前數值：<span id="{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}-value" class="text">{{ sensor_data[i]['latest']['value'] }}</span>{{ sensor_data[i]['unit'] }} | </div>
              <div class="pull-right ease">最後更新日期：<span id="{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}-datetime" class="text">{{ sensor_data[i]['latest']['label'] }}</span> | </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <canvas id="var_{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}_chart"></canvas>
        </div>
        <div class="col-sm-4">
          <h3>Level List</h3>
          <hr/>
          <table id="{{ sensor_data[i]['id'] | replace('.','') | replace('+','') }}_level_table" class="table table-striped">
            <thead>
              <tr>
                <th>狀態</th>
                <th>說明</th>
                <th>數值</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
    {%  endblock  %}

  {%  block  custom_js  %}
  <script>
    (() => {
      /** ======================================================================
       * 取得圖表參數
       ====================================================================== */
      let get_chart_config = (type, title, data) => {
        let config = {
          type: type,
          title: title,
          responsive: true,
          maintainAspectRatio: false,
          data: data,
          options: {
            scales: {
              xAxes: [{
                type: 'time',
                time: {
                  displayFormats: {
                    'millisecond': 'MMM DD HH',
                    'second': 'MMM DD HH',
                    'minute': 'MMM DD HH',
                    'hour': 'MMM DD HH',
                    'day': 'MMM DD HH',
                    'week': 'MMM DD HH',
                    'month': 'MMM DD HH',
                    'quarter': 'MMM DD HH',
                    'year': 'MMM DD HH',
                  }
                },
                ticks: {
                  maxRotation: 0,
                  minRotation: 0,
                  fontSize: 14,
                  display: true,
                  callback: function (tick, index, array) {
                    return (index % 3) ? "" : tick;
                  }
                }
              }],
              yAxes: [{
                type: 'linear',
                display: true,
                scaleLabel: {
                  display: true,
                },
                ticks: {
                  maxRotation: 0,
                  minRotation: 0,
                  fontSize: 12,
                  display: true,
                }
              }]
            },
            tooltips: {
              mode: 'point',
              intersect: false
            },
            hover: {
              mode: 'point',
              intersect: false
            },
          }
        };
        return config;
      };
      document.addEventListener("DOMContentLoaded", (event) => {
        let isIE = navigator.userAgent.indexOf('MSIE') !== -1 || navigator.userAgent.indexOf('Trident') !== -1;
        /** ====================================================================
          * 取得臨界值，回填標準地方
          =================================================================== */
        $.each(sensor_level, (key, value) => {
          let limit = '';
          let row_html = '';
          for(let i=0 ; i < value['level'].length ; i++) {
            // 處理第一筆資料
            if (i == 0) {
              limit = '<' + value['limit'][i];
            }
            // 處理最後一筆資料
            else if (i == value['level'].length-1) {
              limit = '≥' + value['limit'][i-1];
            }
            else {
              limit = value['limit'][i-1] + '~' + value['limit'][i]
            }
            row_html += '<tr>';
            row_html += '<td class="center-td"><div id="status-icon" class="status-icon status-' + STATUS[value['level'][i]['status']] + '"></div></td>';
            row_html += '<td class="ease"><span class="text">' + value['level'][i]['title'] + '</span></td>';
            row_html += '<td class="ease"><span class="text">' + limit + '</span></td></tr>';
          }
          $('#' + key + '_level_table').find('tbody').append(row_html);
        });

        /** ====================================================================
          * 繪製圖表
          =================================================================== */
        var color = Chart.helpers.color;

        {% for item in sensor_data %}
        let var_{{ item.id | replace(".","") | replace("+","") }}_label = JSON.parse("{{ item.label | safe }}".replace(/'/g, '"')).reverse();
        let var_{{ item.id | replace(".","") | replace("+","") }}_value = JSON.parse("{{ item.value | safe }}".replace(/'/g, '"')).reverse();
        let var_{{ item.id | replace(".","") | replace("+","") }}_data = {
            labels: var_{{ item.id | replace(".","") | replace("+","") }}_label,
            datasets: [{
              label: '{{ item.name }}',
              backgroundColor: color('{{ item.color }}').alpha(0.5).rgbString(),
              borderColor: '{{ item.color }}',
              fill: false,
              lineTension: 0,
              borderDash: [8, 4],
              data: var_{{ item.id | replace(".","") | replace("+","") }}_value
            }]
          };
        let var_{{ item.id | replace(".","") | replace("+","") }}_config = get_chart_config('line', '溫濕度感應器', var_{{ item.id | replace(".","") | replace("+","") }}_data);
        {% endfor %}


        window.onload = function () {
          {% for item in sensor_data %}
          let var_{{ item.id | replace(".","") | replace("+","") }}_ctx = document.getElementById('var_{{ item.id | replace(".","") | replace("+","") }}_chart').getContext('2d');
          window.var_{{ item.id | replace(".","") | replace("+","") }}_ctx = var_{{ item.id | replace(".","") | replace("+","") }}_ctx;
          window.var_{{ item.id | replace(".","") | replace("+","") }}_config = var_{{ item.id | replace(".","") | replace("+","") }}_config;
          window.var_{{ item.id | replace(".","") | replace("+","") }}_chart = new Chart(var_{{ item.id | replace(".","") | replace("+","") }}_ctx, var_{{ item.id | replace(".","") | replace("+","") }}_config);
          {% endfor %}
        };

        /** ====================================================================
         *  更新
        ===================================================================== */
        /**
         * /@requires: Chartjs
         * /@description: 用於將新資料新增到圖表當中
         * /@param:
         * /@author:
         * /@version: 1.0.0
         *
         */
        var update_chart_data = (chart, idx, label, data) => {
          let obj = window[chart];
          obj.data.labels.push(label);
          obj.data.datasets[idx].data.push(data);
          if (obj.data.labels.length > 60) {
            obj.data.labels.splice(0, 1);
            obj.data.datasets[idx].data.splice(0, 1);
          }
          obj.update();
        };

        /** ====================================================================
         *  WebSocket 接收最新資料
         ==================================================================== */
        const last_update = document.getElementById("real-time-id");
        const socket = io.connect('/client');

        socket.on('connect', (payload) => {
          console.log(payload);
        });
        // Subscribe the Flask server publish data
        socket.on('sensor_data_pub_client', (payload) => {
          //
          // 檢查目前也面數據資料是否和payload的編號是否相同或為舊資料
          if (Number(last_update.innerHTML) >= Number(payload['id'])) {
            // 不用更新
            console.log("[@index] Real-time data payload duplicate");
          }
          else {
            last_update.innerHTML = payload['id'];
            $.each(payload['data'], async (key, value) => {
              if (value === null) {
                // 資料為null不用更新這部分
                console.log("[@index] Sensor data not exist")
              }
              else {
                $(".status_info .ease").removeClass("trigger").delay(2000).queue(function(){
                  $(this).addClass("trigger").dequeue();
                });
                await sleep(1000);
                // 如果資料存在則要更新
                update_chart_data("var_" + key.replace('.', '').replace('+', '') + "_chart", 0, payload.datetime, value);
                $('#' + key.replace('.', '').replace('+', '') + '-datetime').html(payload.datetime);
                $('#' + key.replace('.', '').replace('+', '') + '-value').html(value.toFixed(1));
                blink_text('#' + key.replace('.', '').replace('+', '') + '-value');
                // 更新狀態
                update_status(key.replace('.', '').replace('+', ''), value);
              }
            });
          }
        });

        update_curr_status();

        /** ====================================================================
         *  處理切換tab的動畫
         ==================================================================== */
        $(".tab_btn").click(function () {

        });

        $('a[data-toggle="tab"]').on('hide.bs.tab', function (e) {
          var $old_tab = $($(e.target).attr("href"));
          var $new_tab = $($(e.relatedTarget).attr("href"));

          if($new_tab.index() < $old_tab.index()){
            $old_tab.css('position', 'relative').css("right", "0").show();
            $old_tab.animate({"right":"-100%"}, 300, function () {
              $old_tab.css("right", 0).removeAttr("style");
            });
          }
          else {
            $old_tab.css('position', 'relative').css("left", "0").show();
            $old_tab.animate({"left":"-100%"}, 300, function () {
              $old_tab.css("left", 0).removeAttr("style");
            });
          }
          $(".ease").removeClass("trigger");
        });

        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
          var $new_tab = $($(e.target).attr("href"));
          var $old_tab = $($(e.relatedTarget).attr("href"));

          if($new_tab.index() > $old_tab.index()){
            $new_tab.css('position', 'relative').css("right", "-2500px");
            $new_tab.animate({"right":"0"}, 500);
          }
          else {
            $new_tab.css('position', 'relative').css("left", "-2500px");
            $new_tab.animate({"left":"0"}, 500);
          }
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          let tag = $(this).attr("href").split('_')[0].split('#')[1];
            window['var_' + tag + '_chart'].destroy();
            window['var_' + tag + '_chart'] = new Chart(window['var_' + tag + '_ctx'], window['var_' + tag + '_config']);
            window['var_' + tag + '_chart'].render({
                duration: 800,
                lazy: false,
                easing: 'easeInExpo'
          });
          var url = new String(e.target);
          var pieces = url.split('#');
          var seq=$(this).children('a').attr('data-seq');
          var tab=$(this).children('a').attr('href');
          if (pieces[1] == "profile"){
            leftSlide(tab);
          }
          $(".ease").addClass("trigger");
        });

        setTimeout(() => {
          $(".ease").addClass("trigger");
        }, 1000);
      });
    })()
  </script>
  {%  endblock  %}
