{%  extends  "app/base.html"  %}
{%  block  title  %}設備管理{%  endblock  %}
{%  block  description  %}允許使用者進行登入{%  endblock  %}

  {%  block  custom_css  %}
  <style>
    .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
    .toggle.ios .toggle-handle { border-radius: 20px; }
    .table > tbody > tr > th, .table > tbody > tr > td {
      vertical-align: middle;
    }

    .table > tbody > tr > th.left , .table > tbody > tr > td.left {
      text-align: left;
    }
  </style>
  {%  endblock  %}

    {%  block  content  %}
    <div class="well lead">
      <p>設備管理</p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">編號</th>
            <th scope="col">設備</th>
            <th scope="col">名稱</th>
            <th scope="col">開關</th>
            <th scope="col">說明</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>LED（綠）</td>
            <td>呼吸燈</td>
            <td><input id="breath_light" name="accessory" type="checkbox" data-toggle="toggle" data-style="ios" data-on="開啟" data-off="關閉"></td>
            <td class="left">透過PWM控制LED燈光之頻率，藉以表示整體環境之舒適程度</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>紅外線感測器</td>
            <td>拍照人臉辨識</td>
            <td><input id="infrared_sensor" name="accessory" type="checkbox" data-toggle="toggle" data-style="ios" data-on="開啟" data-off="關閉"></td>
            <td class="left">開啟功能判別所有人員進出紀錄</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>蜂鳴器</td>
            <td>警示器</td>
            <td><input id="buzzer" name="accessory" type="checkbox" data-toggle="toggle" data-style="ios" data-on="開啟" data-off="關閉"></td>
            <td class="left">發出類似心電圖聲音判別環境是否有有害氣體</td>
          </tr>
        </tbody>
      </table>
    </div>
    {%  endblock  %}

  {%  block  custom_js  %}
  <script>
    (() => {
      document.addEventListener("DOMContentLoaded", (event) => {
        function change_toggle_without_event(obj, status, event) {
          let toggle_status = (status) ? 'on' : 'off';
          $(obj).off('change'); //先關閉Change事件。
          $(obj).bootstrapToggle(toggle_status);
          $(obj).on('change', event);  //執行完後打開Change 事件，並執行handler
        }

        function getStatus(status, on_api, off_api) {
          let api_result = '';
          let api_response = new Object();
          if (status) [api_result, api_response] = api_request('GET', on_api, {}, {});
          else [api_result, api_response] = api_request('GET', off_api, {}, {});

          if (Object.keys(api_response).length == 0)  status = !status;
          else status = api_response['status']
          return status
        }

        function breath_light_change_event () {
          let status = $(this).prop('checked');
          status = getStatus(status, '/api/led/on', '/api/led/off')
          change_toggle_without_event(this, status, breath_light_change_event);
        }

        function infrared_sensor_change_event () {
          let status = $(this).prop('checked');
          status = getStatus(status, '/api/infrared/on', '/api/infrared/off')
          change_toggle_without_event(this, status, infrared_sensor_change_event);
        }

        function buzzer_change_event () {
          let status = $(this).prop('checked');
          status = getStatus(status, '/api/buzzer/on', '/api/buzzer/off')
          change_toggle_without_event(this, status, buzzer_change_event);
        }

        const toggle_event = {
          'breath_light'    : breath_light_change_event,
          'infrared_sensor' : infrared_sensor_change_event,
          'buzzer'          : buzzer_change_event
        }

        // 建立socket連線
        const socket = io.connect('/client');

        socket.on('connect', (payload) => {
          console.log(payload);
        });

        socket.on('accessory_status_pub_client', (payload) => {
          // TODO: 可能需要檢查這個事件是否為過去事件
          change_toggle_without_event('#' + payload['accessory'], payload['status'], toggle_event[payload['accessory']]);
        });


        let check_curr_status = function () {
          let [api_result, api_response] = api_request('GET', '/api/accessory/status', {}, {}, [false, true]);
          if (api_result) {
            $.each(api_response, function(key, value) {
              change_toggle_without_event('#' + key, value, toggle_event[key]);
            });
          }
        }

        $('input[name="accessory"]').each(function () {

          $(this).on('change', toggle_event[$(this).prop('id')]);
        });
        check_curr_status();
      });
    })()
  </script>
  {%  endblock  %}
