[host]
port=3000

[database]
port=3306
user=
password=
database=iot
charset=utf8mb4

[token]
;登入用的token有效時間（秒）
login_expire=3600

[expire]
;註冊會員核發的RSA金鑰組有效時間（秒）
register_rsa_key=600
member_edit_rsa_key=600
login_rsa_key=600

[led]
mode=BCM
pin=12

[buzzer]
mode=BCM
pin=2

[motor]
mode=BCM
pin=13

[AM2302]
sensor=2302
mode=BCM
pin=21

[RSA]
bits=2048

[history_record]
;是否要持續記錄RSA領用狀態（或是同樣IP同一用途只能存在一把）
rsa_key_history=False

[face_model]
dataset=dataset
embeddings=output/embeddings.pickle
detector=face_detection_model
embedding_model=openface_nn4.small2.v1.t7
recognizer=output/recognizer.pickle
le=output/le.pickle
confidence=0.5

[infrared]
mode=BCM
pin=20
led_mode=BCM
led_pin=16
