@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');

/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 7.0rem;
  /* "Helvetica Neue", Helvetica */
  font-family: 'Maven Pro', 'Noto Sans TC', sans-serif;
}

.main {
  min-height: 100vh;
}

.fill-all-center {
  display: inline-block;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  text-align: center;
  padding-bottom: 10px;
  word-break: break-word;
}

/** ======   Navigation   ====== */
.navbar {
  padding: 0px 15px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  height: 100%;
  padding: 2px;
  width: auto;
}

/** ======   Markdown Code   ====== */
/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: right;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 20px;
}

/** ======   Information Card   ====== */
.clear {
  clear: left;
}
.card {
  min-height: 135px;
  background-color: #FFF;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  margin: 10px 0px;
}
  .card > .icon {
    float: left;
  }

    .card > .icon > .fa{
      font-size: 80px;
      padding-top: 15px;
    }
    .card > .icon > .glyphicon {
      font-size: 80px;
    }

  .card > .info {
    font-weight: 700;
    margin-left: 60px;
  }
    .card > .info > .hr {
      border-bottom: 2px solid #EEE;
      margin-bottom: 5px;
    }
    .card > .info > .value {
      text-align: center;
      padding-left: 10px;
      font-size: 40px;
    }
      .card > .info > .value > .value-change {
        text-align: center;
        padding-left: 10px;
        font-size: 14px;
      }
    .card > .info > .title {
      margin: 0 auto;
      text-align: right;
      font-size: 16px;
      width: 70%;
      float: left;
    }
    .card > .info > .status {
      padding-left: 5px;
      font-size: 16px;
      float: right;
    }
    .card > .header {
      text-align: right;
      font-size: 12px;
    }

  .status-icon {
    margin: 0 auto;
    background: radial-gradient(#DDD, #CCC);
    box-shadow: 0 0 6px 0 rgba(140, 139, 136, 1.0);
    border-radius: 50%;
    width: 20px;
    padding-top: 20px;
    float: left;
  }

  .status-green {
    background: radial-gradient(#92F08D, #77CC72);
    box-shadow: 0 0 6px 0 rgba(100, 186, 95, 1.0);
  }

  .status-yellow {
    background: radial-gradient(#F5EF5D, #E4E716);
    box-shadow: 0 0 6px 0 rgba(237, 240, 31, 1.0);
  }

  .status-orange {
    background: radial-gradient(#F7D3A1, #F5B65D);
    box-shadow: 0 0 6px 0 rgba(240, 163, 31, 1.0);
  }

  .status-red {
    background: radial-gradient(#F7A5A1, #F75048);
    box-shadow: 0 0 6px 0 rgba(240, 49, 31, 1.0);
  }

  .status-purple {
    background: radial-gradient(#EAA8ED, #DC3BE3);
    box-shadow: 0 0 6px 0 rgba(240, 31, 205, 1.0);
  }

.member-avaster {
  margin: 10px auto;
  width: 150px;
  height: auto;
}

.table-responsive {
  max-height: 280px;
  overflow: scroll;
}
.table-fix th, th, td {
  word-break: break-word;
  text-align: center;
}
.table-fix tbody {
  display: block;
  height: 200px;
  overflow: auto;
}
.table-fix thead, .table-fix tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-fix thead {
  padding: 2px;
  color: #FFF;
  background: #777;
}
.chartWrapper {
  position: relative;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  width: 100%;
  overflow-x: scroll;
}

/** ======   Information Card   ====== */
a:hover, a:focus{
  text-decoration: none;
  outline: none;
}
.tab .nav-tabs{
  border: none;
  margin: 0;
}
.tab .nav-tabs li a{
  padding: 10px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #293241;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background: transparent;
  z-index: 2;
  position: relative;
  transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{ border: none; }
.tab .nav-tabs li a:before{
  content: "";
  width: 100%;
  height: 4px;
  background: #f6f6f6;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.tab .nav-tabs li a:after{
  content: "";
  width: 0;
  height: 4px;
  background: #727cb6;
  border: 1px solid #727cb6;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: all 1s ease 0s;
}
.tab .nav-tabs li:hover a:after,
.tab .nav-tabs li.active a:after{
  width: 100%;
  opacity: 1;
}
.tab .tab-content{
  min-height: 100px;
  margin-top: 20px;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 30px;
  position: relative;
}
@media only screen and (max-width: 479px){
  .tab .nav-tabs li{
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
  }
  .tab .tab-content{ margin-top: 0; }
}

.panel-body {
  word-break: break-all;
}

.list-group-item {
  padding: 10px;
}

/** ======   Footer   ====== */
.footer-link {
  background: #6699CC;
  padding: 30px 0px;
  color: #FFF;
}
.footer-link-col {
  padding-left: 10px;
}
.footer-link-title::before {
  background-color: #DDD;
  content: "";
  height: 22px;
  left: 15px;
  position: absolute;
  width: 5px;
}
.footer-link-title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 40px;
}
  .footer-link-col > ul {
    list-style: outside none none;
    padding-left: 0;
  }
  .footer-link-col > ul > li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    margin: 7px 15px;
    padding-bottom: 7px;
    width: 95%;
  }
.footer-copyright {
  padding: 20px;
  background: #15224F;
  color: #FFF;
}
.footer-link-text {
  padding-left: 10px;
}

/** ======   Ease Word Animation   ====== */
/** 文字會有方塊經過 */
.ease {
  background-position: 0% 0%;
  color: #000;
}

/** 製作漸層背景 */
.ease .text {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%, #4EB74E 33%, #4EB74E 66%, rgba(0, 0, 0, 0) 66%);
}

/** 拉長背景長度並設定transition */
.ease .text {
  background-position: 100% 0%;
  background-size: 400% 100%;
  color: transparent;
  transition: background .8s ease .8s, color .2s ease 1s;
}

.ease.trigger .text {
  background-position: 0% 0%;
  color: #000;
}

.ease.trigger:after {
  opacity: 1;
}

/** ======   Toast Container   ====== */
#toast-container {
  margin-top: 60px;
  margin-right: 10px;

}

#toast-container > .toast {
  background-image: none !important;
}

.toast-title, .toast-message {
  color: #000;
}

#toast-container>.toast:before {
  position: fixed;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 24px;
  float: left;
  padding-right: .5em;
  margin: auto .5em auto -1.5em
}

#toast-container > .toast-warning:before {
  content:"\f071";
  color: #E5804E;
}
#toast-container > .toast-error:before {
  content:"\f057";
  color: #A23E48;
}
#toast-container > .toast-info:before {
  content:"\f05a";
  color: #1C5D99;
}
#toast-container > .toast-success:before {
  content:"\f058";
  color: rgb(48, 117, 48);
}

#toast-container > div {
  box-shadow: 0 0 3px #666;
  opacity: .9;
  filter: alpha(opacity=90)
}
#toast-container > :hover {
  box-shadow: 0 0 4px #666;
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: pointer
}
.toast,.toast-success {
  background-color: #A0DB6D;
}
.toast-error {
  background-color: #E87A90;
}
.toast-info {
  background-color: #7DBCED;
}
.toast-warning {
  background-color: #F4CC75;
}
.toast-top-full-width {
  margin-top: 20px
}
.toast-bottom-full-width {
  margin-bottom: 20px
}

