  <link rel="stylesheet" href="/static/css/vendor/bootstrap/v3.4.1/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/vendor/font-awesome/v4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/vendor/awesome-bootstrap-checkbox/build.css">
  <link rel="stylesheet" href="/static/css/vendor/jquery-confirm/v3.3.4/jquery-confirm.css">
  <link rel="stylesheet" href="/static/css/vendor/highlight/v9.16.2/default.min.css">
  <link rel="stylesheet" href="/static/css/vendor/highlight/v9.16.2/vs.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
