<!-- JavaScript -->
  <script src="/static/js/vendor/socketIO/socket.io.js" defer></script>
  <script src="/static/js/vendor/jquery/v3.4.1/jquery.min.js" defer></script>
  <script src="/static/js/vendor/popper.js/v1.16.0/popper.min.js" defer></script>
  <script src="/static/js/vendor/bootstrap/v3.4.1/bootstrap.min.js" defer></script>
  <script src="/static/js/vendor/plotly.js/v1.51.2/plotly.min.js" defer></script>
  <script src="/static/js/vendor/forge/forge.min.js" defer></script>
  <script src="/static/js/vendor/jquery-confirm/v3.3.4/jquery-confirm.js" defer></script>
  <script src="/static/js/vendor/bootstrap-validator/vaildator.js" defer></script>
  <script src="/static/js/vendor/highlight/v9.16.2/highlight.min.js" defer></script>
  <script src="/static/js/vendor/highligh-line-number/v2.7.0/highlightjs-line-numbers.min.js" defer></script>
  <script src="/static/js/vendor/flipping-clock/script.js" defer></script>
  <script src="/static/js/vendor/jquery.number/jquery.number.min.js" defer></script>
  <script src="/static/js/vendor/slick/v1.8.1/slick.min.js" defer></script>
  <script src="/static/js/key.js" defer></script>
  <script src="/static/js/custom.js" defer></script>
