<!-- JavaScript -->
  <script src="/static/js/vendor/socketIO/socket.io.js" defer></script>
  <script src="/static/js/vendor/jquery/v3.4.1/jquery.min.js" defer></script>
  <script src="/static/js/vendor/popper.js/v1.16.0/popper.min.js" defer></script>
  <script src="/static/js/vendor/bootstrap/v4.4.1/bootstrap.min.js" defer></script>
  <script src="/static/js/vendor/plotly.js/v1.51.2/plotly.min.js" defer></script>
  <script src="/static/js/custom.js" defer></script>
  <script src="/static/js/socket.js" defer></script>
