{%  extends  "app/base.html"  %}
{%  block  title  %}會員{%  endblock  %}
{%  block  description  %}允許使用者進行登入{%  endblock  %}

  {%  block  custom_css  %}
  <style>
    #profile ul > li {
      min-height: 42px;
    }
  </style>
  {%  endblock  %}

    {%  block  content  %}
    <div class="row">
      <div class="col-sm-3">
        <!-- ROADMAP: 會員可以自己上傳頭像，並顯示在nav
        -->
        <img title="profile image" class="img-circle img-responsive member-avaster" src="/static/images/avatar/default/image.png">
        <span class="fill-all-center"><strong>{{ member.account }}</strong></span>

        <div id="profile">
          <ul class="list-group">
            <li class="list-group-item text-muted"><i class="fa fa-address-card fa-1x"></i> 個人資料
              <button class="btn btn-xs btn-default pull-right"><i class="fa fa-pencil"></i> 編輯</button>
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>編號</strong></span> {{ member.id }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>暱稱</strong></span> {{ member.name }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>身分</strong></span> {{ member.identity }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>修改</strong></span> {{ member.modify }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>加入</strong></span> {{ member.create }}</li>
          </ul>

          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-envelope-open-o fa-1x"></i> 聯絡資訊</i></div>
            <div class="panel-body"><i class="fa fa-at fa-1x"></i><a href="mailto:{{ member.email }}"> {{ member.email }}</a></i></div>
          </div>

          <ul class="list-group">
            <li class="list-group-item text-muted"><i class="fa fa-cog fa-1x"></i> 偏好設定
              <button class="btn btn-xs btn-default pull-right"><i class="fa fa-pencil"></i> 編輯</button>
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul>
        </div>

      </div>
      <!--/col-3-->
      <div class="col-sm-9">
        <div class="tab" role="tabpanel">
          <ul class="nav nav-tabs" id="myTab">
            <li role="presentation" class="active"><a href="#alert" data-toggle="tab">警示</a></li>
            <li role="presentation"><a href="#access" data-toggle="tab">進出紀錄</a></li>
          </ul>

          <div class="tab-content">
            <!-- 警示訊息 -->
            <div class="tab-pane active" id="alert">
              <div class="alert alert-info" role="alert">
                <i class="fa fa-info-circle"></i>
                This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                <span class="pull-right"><strong>2019/12/30</strong></span>
              </div>
              <div class="alert alert-success" role="alert">
                <i class="fa fa-check-circle-o"></i>
                This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
              </div>
              <div class="alert alert-danger" role="alert">
                <i class="fa fa-times"></i>
                This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
              </div>
              <div class="alert alert-warning" role="alert">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
              </div>
            </div>

            <!-- 進出紀錄 -->
            <div class="tab-pane" id="access">
              <table id="access_table" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">編號</th>
                    <th scope="col">使用者</th>
                    <th scope="col">進入時間</th>
                    <th scope="col">離開時間</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!--/tab-pane-->
          </div>
        </div>
        <!--/tab-content-->
      </div>
    </div>
    <!--/col-9-->
    {%  endblock  %}

  {%  block  custom_js  %}
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      function get_innter_html(data) {
        var inner_html= "";
        $.each(data, function(key, value) {
          inner_html += "<tr>";
          inner_html += "<td>" + value['id'] + "</td>";
          inner_html += "<td>" + value['account'] + "</td>";
          inner_html += "<td>" + get_date_time(value['entry']) + "</td>";
          inner_html += "<td>" + get_date_time(value['exit']) + "</td>";
          inner_html += "</tr>>";
        });

        return inner_html;
      }

      function update_access_table() {
        let [api_result, api_response] = api_request('GET', '/api/member/access_record', {}, {}, [false, true]);
        if (api_result) {
          let html = get_innter_html(api_response['data']);
          $('#access_table > tbody').empty()
          $('#access_table > tbody').append(html)
        }
        else {
          // 若抓取API失敗
          // TODO: 登入失敗應判定錯誤代號並決定是否重新導向登入畫面
        }
      }

      // 建立socket連線
      const socket = io.connect('/client');

      socket.on('connect', (payload) => {
        console.log(payload);
      });

      socket.on('face_identify_pub_client', (payload) => {
        // TODO: 可能需要檢查這個事件是否為過去事件
        update_access_table();
      });

      update_access_table();
    });
  </script>
  {%  endblock  %}
