{%  extends  "app/base.html"  %}
{%  block  title  %}會員註冊{%  endblock  %}

  {%  block  content  %}
    <div class="jumbotron">
      <h1>會員註冊</h1>
      <p class="lead">註冊會員使用客製化環境提醒與臉部辨識檢視進出紀錄</p>
    </div>
    <form id="form" data-toggle="validator" role="form">
      <div class="form-group" has-feedback>
        <label for="account" class="control-label">帳號</label>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="text" pattern="^[a-zA-Z][a-zA-Z0-9]{6,30}$" maxlength="30" class="form-control input-lg"
            id="account" name="account" placeholder="account" data-error="請輸入6~30字的帳號（僅限英文與數字）以符合格式"
            data-remote="/api/member/duplicate_confirm" data-remote-error="此帳號資料庫已經存在，請勿重複註冊" data-delay="2000"
            required>
        </div>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group">
        <label for="name" class="control-label">姓名</label>
        <input type="text" pattern="^[^\s].+[^\s]$" maxlength="30" class="form-control input-lg" id="name"
          placeholder="name" data-error="不允許空值與單獨空格出現（起始與結束不為空格）（至多30位數）" required>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group">
        <label for="email" class="control-label">電子郵件</label>
        <input type="email" class="form-control input-lg" id="email" maxlength="50" placeholder="e-mail"
          data-error="請輸入正確之電子郵件信箱格式（必須包含@）（至多50位數）" required>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group">
        <label for="password" class="control-label">密碼</label>
        <div class="row">
          <div class="col-sm-6">
            <input type="password" pattern="[^\s]+" data-minlength="6" maxlength="30" class="form-control input-lg"
              id="password" data-pattern-error="密碼不允許任何空格" data-minlength-error="請輸入至少6位數以上密碼（至多30位數）"
              data-required-error="此欄位必須填寫" placeholder="passworsd" autocomplete required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block">請輸入至少6位數以上密碼（至多30位數）</div>
          </div>
          <div class="col-sm-6">
            <input type="password" pattern="[^\s]+" class="form-control input-lg" id="password_confirm"
              data-pattern-error="密碼不允許任何空格" data-error="請填寫此欄位" data-required-error="此欄位必須填寫"
              data-match-error="請確認密碼與先前輸入相同" data-match="#password" placeholder="password confirm" autocomplete
              required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button id="terms_contents" type="button" class="btn btn-default">檢視服務條款</button>
        <div class="form-check checkbox checkbox-primary">
          <input class="form-check-input" id="terms" type="checkbox" data-error="您必須同意此條款才能繼續申請" required>
          <label class="form-check-label" for="terms">我同意服務條款</label>
          <div class="help-block with-errors"></div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">申請</button>
      </div>
      <div id="rsa-key" data-public-key="{{ rsa.public_key }}" data-key-id="{{ rsa.id }}"></div>
    </form>
  {%  endblock  %}

  {%  block  custom_js  %}
  <script>
    (() => {
      var submit_action = () => {
        let data = get_data();
        let [key_id, encrypt_data] = rsa_encrypt(data, 'rsa-key', 'public-key', 'key-id');
        let request = {
          'id': key_id,
          'payload': encrypt_data,
          'datetime': current_time()
        }

        api_request('POST', '/api/member/register', request, {
          '2XX': {
            完成: () => {
              document.location.href = '/member/login';
            }
          },
          '4XX': {
            確認: () => {
            }
          },
          '5XX': {
            確認: () => {
            }
          }
        });
      }

      var get_data = () => {
        let account = document.getElementById('account').value;
        let name = document.getElementById('name').value;
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;
        let password_confirm = document.getElementById('password_confirm').value;

        let data = {
          'account': account,
          'name': name,
          'email': email,
          'password': password,
          'password_confirm': password_confirm
        }

        return data;
      }

      document.addEventListener("DOMContentLoaded", function (event) {
        disable_submit_form('form', submit_action);
        $('#terms_contents').click(() => {
          var ready = () => {
            //hljs.configure({useBR: true});
            document.querySelectorAll('pre code').forEach((block) => {
              hljs.highlightBlock(block);
              hljs.lineNumbersBlock(block);
            });
          };

          prompt_info(
            icon='fa fa-file-text',
            url='url:/terms',
            title='服務條款',
            color = 'green',
            button = {
              confirm: {
                text: '關閉',
                action: () => {

                }
              }
            },
            content_ready=ready,
            close_icon=true);
        });

        // 讓vaildator能夠移動到第一個錯誤的位置
        $('form[data-toggle="validator"]').on('submit', function (e) {
          window.setTimeout(function () {
              var errors = $('.has-error')
              if (errors.length) {
                  $('html, body').animate({ scrollTop: errors.offset().top - 100 }, 500);
              }
          }, 0);
        });
      });
    })()
  </script>
  {%  endblock  %}
